/* Common styles */

@import "../assets/libs/bootstrap/functions";
@import "../assets/libs/bootstrap/variables";
@import "../assets/libs/bootstrap/mixins";
@import "../assets/libs/bootstrap/root";
@import "../assets/libs/bootstrap/reboot";
@import "../assets/libs/bootstrap/type";
@import "../assets/libs/bootstrap/images";
@import "../assets/libs/bootstrap/code";
@import "../assets/libs/bootstrap/grid";
@import "../assets/libs/bootstrap/forms";
@import "../assets/libs/bootstrap/buttons";
@import "../assets/libs/bootstrap/transitions";
@import "../assets/libs/bootstrap/dropdown";
@import "../assets/libs/bootstrap/button-group";
@import "../assets/libs/bootstrap/input-group";
@import "../assets/libs/bootstrap/custom-forms";
@import "../assets/libs/bootstrap/nav";
@import "../assets/libs/bootstrap/navbar";
@import "../assets/libs/bootstrap/card";
@import "../assets/libs/bootstrap/breadcrumb";
@import "../assets/libs/bootstrap/pagination";
@import "../assets/libs/bootstrap/badge";
@import "../assets/libs/bootstrap/media";
@import "../assets/libs/bootstrap/list-group";
@import "../assets/libs/bootstrap/close";
@import "../assets/libs/bootstrap/modal";
@import "../assets/libs/bootstrap/utilities";

//@import "../assets/libs/bootstrap/bootstrap";
@import "fonts";
@import "../assets/libs/slick/slick.scss";

@import "../assets/libs/fontawesome/scss/fontawesome";
@import "../assets/libs/fontawesome/scss/brands";
@import "../assets/libs/fontawesome/scss/solid";
@import "../assets/libs/fontawesome/scss/light";
@import "../assets/libs/fontawesome/scss/regular";

$main-pink: #ff4878;
$gold: #95763f;

body {
    background-color: #f4f8fb;
    overflow-x: hidden;
}

a {
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

h2 {
    font-family: "Gilroy Light", sans-serif;
    font-size: 75px;
}

button.btn {
    font-family: "Gilroy", sans-serif;
    border-radius: 38px;
    transition: all 0.5s;
    font-size: 22px;
    padding: 15px;
    max-width: 315px;
    max-height: 75px;
    width: 100%;
    font-weight: 600;
}

button.btn-outline {
    border: 1px solid $main-pink;
    color: $main-pink;

    &:hover, &.active {
        background-color: $main-pink;
        color: white !important;
    }
}

button.btn-fill {
    background-color: $main-pink;
    border: 1px solid $main-pink;
    color: white;

    &:hover {
        color: white !important;
        background-color: darken($main-pink, 8%);
    }
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: inline-block;
}

.fade {
    transition: opacity 0.3s linear;
}

.modal.fade .modal-dialog {
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.feedback-form {
    width: 100%;

    input, .select-wrap {
        background: none;
        border: none;
        border-radius: unset;
        //color: white;
        border-bottom: 1px solid #7b7b7b;
        outline: none;
        text-align: center;
        padding: 25px;
        font-family: "Gilroy Medium", sans-serif;
        font-size: 18px;
        height: 51px;

        &:focus {
            box-shadow: none;
        }
    }

    .select-wrap {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .nselect {
            width: 100%;
            height: 100%;

            .nselect__head {
                background: transparent;
                color: #7b7b7b;
                font-size: 18px;

                &:after {
                    border-color: #7b7b7b transparent transparent transparent;
                    top: 18px;
                }
            }

            &.nsOrange._checked {
                .nselect__head {
                    background: none;
                    color: white;
                }
            }

            .nselect__inner {
                &:before {
                    left: 0;
                    right: 0;
                    margin: auto;
                }

                width: 100%;
            }

            .nselect__list {
                li._active span {
                    color: $main-pink;
                }
            }
        }
    }

    .input-name {
        background: url("../assets/img/form-circle.png") no-repeat 5% 0;
    }

    .input-select {
        background: url("../assets/img/form-square.png") no-repeat 5% 0;
    }

    .input-phone {
        background: url("../assets/img/form-triangle.png") no-repeat 5% 0;
    }

    button {
        margin: 75px 0;
        box-shadow: 0 15px 20px 2px rgba($main-pink, 0.2);
    }
}

header {
    background-color: #FFFFFF;
    font-family: "Gilroy Medium", sans-serif;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    .navbar > .phone-icon {
        font-size: 22px;
        transition: all 0.3s;

        &:hover {
            color: $main-pink;
        }
    }

    .navbar-toggler-icon {
        background: url("../assets/img/menu_black.png") center center no-repeat;
    }

    .navbar-collapse {
        .pages {
            width: 50%;
            margin-left: auto;

            li {
                position: relative;

                &.active {
                    & > a, & > span {
                        background-color: lighten($main-pink, 30%);
                    }
                }

                .fa-caret-down {
                    font-size: 19px;
                    color: $main-pink;
                    position: absolute;
                    top: -15px;
                    left: 0;
                    right: 0;
                    text-align: center;
                }

                .dropdown {
                    background: white;
                    border-radius: 23px;
                    position: absolute;
                    top: 45px;
                    width: 400px;
                    padding: 30px;
                    display: none;
                    flex-direction: column;

                    &:before {
                        content: "";
                        position: absolute;
                        top: -10px;
                        width: 25px;
                        height: 20px;
                        background: white;
                        border-radius: 50%;
                    }

                    .close {
                        content: "+";
                        position: absolute;
                        top: 0;
                        right: 15px;
                        transform: rotate(45deg);
                        font-family: "Gilroy UltraLight", sans-serif;
                        font-size: 34px;
                        color: #bcbcbc;
                        opacity: 1;
                        cursor: pointer;

                        &:hover {
                            color: black;
                        }
                    }

                    a {
                        color: black;
                        padding: 10px 20px;

                        &:hover {
                            color: $main-pink;
                        }
                    }

                    hr {
                        width: 100%;
                    }
                }

                & > a, & > span {
                    display: inline-block;
                    padding: 10px 15px;
                    border-radius: 23px;
                    transition: 0.3s background-color;
                    cursor: pointer;

                    &:hover {
                        background-color: lighten($main-pink, 30%);
                    }
                }
            }
        }

        .icons {
            li {
                padding: 10px;

                a {
                    transition: all 0.3s;

                    &:hover {
                        color: $main-pink;
                    }
                }

                i {
                    font-size: 28px;
                    vertical-align: middle;


                }
            }
        }
    }

    .navbar-collapse.show {
        .pages {
            .nav-item {
                .dropdown {
                    display: flex;
                    position: relative;
                    width: fit-content;
                    padding: 0 5px;
                    margin: 0 5%;
                    top: 0;
                    font-size: 0.9em;

                    hr, .close {
                        display: none;
                    }

                    &:before {
                        display: none;
                    }
                }
            }
        }

        .close {
            text-shadow: none;
        }
    }

    .navbar-collapse.show, .navbar-collapse.collapsing {
        color: black;
        border-radius: 23px;
        background: white;
        position: relative;
        max-height: 75vh;
        overflow: scroll;

        .close {
            position: absolute;
            cursor: pointer;
            right: 15px;
            top: 8px;
            font-size: 22px;
        }

        .pages {
            margin: 10px 0;

            .nav-item {
                a, span {
                    padding: 5px 15px;
                }
            }
        }

        .icons {
            padding-top: 30px;
            flex-direction: row;
            border-top: 1px solid #e6e6e6;
            justify-content: space-around;
            align-items: center;

            .nav-item {
                display: none;
            }

            .social-icons {
                a {
                    margin: 0 10px;
                }
            }
        }

        .fa-caret-down {
            display: none;
        }

        button.btn {
            max-width: 200px;
            margin: 15px auto;
            display: block;
            border: 1px solid #ff4878;
            color: #ff4878;
        }
    }
}

.sliderControls {

    .prev, .next {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 10px;
        cursor: pointer;
    }

    .prev {
        background: url("../assets/img/arrow-back_active.png") center center no-repeat;
    }

    .next {
        background: url("../assets/img/arrow-forward_active.png") center center no-repeat;
    }

    .prev.slick-disabled {
        background: url("../assets/img/arrow-back_inactive.png") center center no-repeat;
    }

    .next.slick-disabled {
        background: url("../assets/img/arrow-forward_inactive.png") center center no-repeat;
    }
}

footer {
    background: url("../assets/img/tentacles-top_1.jpg") 0 0 no-repeat,
    #2d2d2d;
    background-size: contain;
    padding-top: 150px;
    color: white;
    font-family: "Gilroy Medium", sans-serif;
    font-size: 22px;

    a:hover {
        color: $main-pink;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;

        .heading {
            padding: 15px 0;
            cursor: pointer;
        }

        ul {
            font-size: 18px;

            li {
                padding: 7px 0;
            }
        }
    }

    .footer-contacts {
        display: flex;
        justify-content: flex-end;
        height: fit-content;
        padding: 15px 0;

        .icons {
            display: flex;
            align-items: center;
            font-size: 28px;

            li {
                margin-right: 30px;
            }
        }
    }

    .bottom-section {
        font-size: 18px;
        justify-content: space-between;
        padding: 30px 0;
        margin-top: 40px;
        border-top: 1px solid #424242;
    }
}

header.header-fixed {
    background-color: rgba(45, 45, 45, 0.9);
    color: white;
    box-shadow: none !important;

    .navbar-collapse {
        .pages {
            li {
                a, span {
                    &:hover {
                        background-color: rgba(white, 0.4);
                    }
                }
            }
        }

        button {
            border: 1px solid white;
            color: white;

            &:hover {
                background-color: $main-pink;
                border-color: $main-pink;
            }
        }
    }

    .navbar-toggler-icon {
        background: url("../assets/img/menu.png") center center no-repeat;
    }
}

.modal {
    .modal-dialog {
        max-width: 1200px;
        width: 80%;

        .modal-content {

            .modal-header, .modal-body, .modal-footer {
                border: none;
            }

            .modal-header {
                flex-wrap: wrap;

                .modal-title {
                    font-family: "Gilroy Medium", sans-serif;
                    font-size: 33px;
                    margin: 60px 0 50px auto;
                }

                .modal-description {
                    width: 100%;
                    text-align: center;

                    p {
                        font-family: "Gilroy Medium", sans-serif;
                        font-size: 18px;
                        padding: 10px 0;
                        width: 100%;
                        max-width: 600px;
                        margin: auto;
                    }
                }
            }

            .modal-body {
                form {
                    font-family: "Gilroy", sans-serif;
                    font-size: 18px;
                    color: #333333;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    text-align: center;

                    .custom-control-label::before {
                        border: $main-pink solid 1px;
                    }

                    .custom-control-input:checked ~ .custom-control-label::before {
                        border-color: $main-pink;
                        background-color: transparent;
                    }

                    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ff4878'/%3e%3c/svg%3e");
                    }

                }
            }

            .modal-footer {
                justify-content: center;

                .promo {
                    position: relative;
                    display: block;
                    text-align: center;
                    font-size: 20px;

                    .percent {
                        font-family: "Bebas Neue Bold", sans-serif;
                        font-weight: 900;
                        color: $main-pink;
                        font-size: 22px;
                    }

                    .promocode {
                        position: relative;
                        font-family: "Gilroy Medium", sans-serif;
                        font-size: 33px;
                    }

                    & > div {
                        position: relative;
                    }

                    .gold-line {
                        position: absolute;
                        height: 8px;
                        width: 46%;
                        background-color: #efd9b3;
                        right: -10%;
                        top: 50%;
                    }
                }

                button {
                    margin: 15px;
                }
            }
        }
    }
}

.quiz {
    .modal-header {
        &:before {
            position: absolute;
            top: 15px;
            left: 15px;
            content: " ";
            background-color: $main-pink;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            color: white;
            font-family: "Gilroy Medium", sans-serif;
            font-size: 33px;
            line-height: 50px;
        }
    }
}

#portfolio {
    .portfolio-heading {
        display: flex;
        justify-content: center;
        margin: 140px 0 80px 0;

        .heading-heading {
            position: relative;
        }

        h2 {
            position: relative;
            margin: 0;
        }

        .gold-line {
            position: absolute;
            height: 15px;
            width: 110%;
            background-color: #fad086;
            right: -36%;
            top: 50%;
        }
    }

    .portfolio-works {

        .work {
            width: 100%;
            display: flex;
            flex-direction: row;

            img {
                max-width: 50%;
            }

            .description-heading {
                font-family: "Gilroy Light", sans-serif;
                font-size: 45px;

                .lion-icon {
                    content: url("../assets/img/lion-icon.png");
                    vertical-align: middle;
                }
            }

            .description-description {
                font-family: "Gilroy Medium", sans-serif;
                font-size: 18px;
                font-weight: 600;
                padding: 50px 0;
            }

            .description-footer {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            .site-link {
                font-family: "Gilroy Medium", sans-serif;
                font-size: 18px;
                color: #838383;
                text-align: center;
                text-decoration: underline;

                &:hover {
                    color: $main-pink;
                }
            }

            .work-description-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 0;

                .work-description {
                    width: 70%;
                }
            }
        }

        .work-2 {
            flex-direction: row-reverse;
        }
    }

    .portfolio-wrapper > button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 60px auto;
        padding: 10px 0;

        .text {
            margin-left: auto;
        }

        .line {
            height: 35px;
            max-height: 100%;
            width: 1px;
            background: #f67496;
            margin: auto;
        }

        .arrow {
            font-size: 24px;
            margin-right: auto;
        }
    }
}

.quiz input {
    color: #0e1111;
}

#quiz1 {
    .modal-header:before {
        content: "1";
    }
}

#quiz2 {
    .modal-header:before {
        content: "2";
    }
}

#quiz3 {
    .modal-header:before {
        content: "3";
    }
}

#quiz4 {
    .modal-header:before {
        content: "4";
    }

    .modal-title {
        margin: 0 0 0 auto;
    }

    .modal-footer {
        flex-direction: column;
    }

    .feedback-form {
        //padding: 50px 0;

        & > .row {
            width: 100%;
        }

    }
}

#page-header {
    position: relative;
    background-size: contain;
    max-height: 470px;

    .breadcrumbs {
        font-family: "Gilroy", sans-serif;
        font-size: 16px;
        color: #b8b8b8;
        display: flex;
        flex-direction: row;

        .breadcrumb-active {
            color: white;
        }

        .separator {
            margin: 0 15px;
        }
    }

    .page-title {
        position: absolute;
        transform: translate(0,-50%);
        text-align: center;
        top: 50%;
        left: 0;
        right: 0;
        font-family: "Gilroy Black", sans-serif;
        font-size: 110px;
        text-transform: uppercase;


        .fill, .outline {
            position: absolute;
            top: 0;
        }

        .fill {
            color: rgba(255,255,255, 0.4);
            top: 0;
            left: 0;
            right: 0;
        }

        .outline {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px white;
            top: -10px;
            left: -10px;
            right: 0;
        }
    }
}

/* Temporary */
#page-header {
    height: 470px;
    .breadcrumbs {
        padding-top: 125px;
    }
}
