@import "common";

/* Main page */

#first-screen {
    height: 100vh;
    background-image: url("../assets/img/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    & > .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    .best-solutions {
        width: 100%;
        position: relative;

        .pink-line, .white-line {
            height: 25px;
            position: absolute;
        }

        .pink-line {
            background-color: $main-pink;
            right: 0;
            top: 20%;
            width: 62%;
        }

        .title {
            position: relative;
            font-family: "Gilroy Black", sans-serif;
            color: white;
            font-size: 13rem;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            line-height: 95%;
            width: 100%;
            font-weight: 900;

            .best, .solutions {
                opacity: 0.3;
            }

            .best {
                align-self: flex-start;
            }

            .solutions {
                align-self: flex-end;
            }

            .best-copy, .solutions-copy {
                position: absolute;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px white;
            }

            .best-copy {
                top: -10px;
                left: -10px;
            }

            .solutions-copy {
                bottom: 10px;
                right: 10px;
            }
        }

        .white-line {
            background-color: #e1e1e1;
            left: 0;
            bottom: 25%;
            width: 66%;
        }
    }

    .bottom-plank {
        color: white;
        margin: 10vh 0;

        .text {
            font-family: "Gilroy Black", sans-serif;
            font-size: 45px;
            font-weight: 900;
            font-style: italic;
            max-width: 60%;
        }
    }
}

#services {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;

    .service {
        margin: 45px 15px;
        width: 100%;
        max-width: calc(50% - 15px);
        position: relative;
        transition: transform 0.3s linear;

        &:hover {
            transform: scale(1.05);
        }

        img {
            width: 100%;
        }

        &:nth-child(odd) {
            margin-left: 0;
        }

        &:nth-child(even) {
            margin-right: 0;
        }

        .black-bar {
            position: absolute;
            transform: translate(0, -50%);
            top: 50%;
            left: 70px;
            width: 255px;
            height: 600px;
            background-color: #1d1d1d;
            display: flex;
            align-items: center;

            .name {
                display: flex;
                margin-left: -10%;

                span {
                    font-family: "Gilroy Black", sans-serif;
                    font-weight: 900;
                    font-size: 90px;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1px white;
                }
            }

            .price {
                transform: rotate(-45deg);
                margin-top: 30px;

                .price-number {
                    font-family: "Bebas Neue Regular", sans-serif;
                    font-weight: 900;
                    font-size: 60px;
                    color: $main-pink;
                    float: left;
                    margin-right: 15px;
                }

                .price-text {
                    display: flex;
                    flex-direction: column;

                    .ot, .rub {
                        font-family: "Gilroy Medium", sans-serif;
                        font-size: 18px;
                        color: #696969;
                    }
                }
            }

            .buttons {
                transform: rotate(-45deg);
                display: flex;
                text-align: center;
                margin-top: 30px;

                .analyse a:hover, .details a:hover {
                    text-shadow: 0 0 3px;
                }

                .analyse {
                    font-family: "Gilroy Medium", sans-serif;
                    font-size: 20px;
                    color: #7e7e7e;
                    text-decoration: underline;
                    line-height: 1.3em;
                }

                .details {
                    font-family: "Gilroy", sans-serif;
                    font-weight: 600;
                    font-size: 22px;
                    color: $main-pink;
                    text-decoration: underline;
                }
            }
        }
    }

    #service-landing {
        .name {
            span {
                &:nth-child(2) {
                    position: relative;
                    right: unset;
                    left: unset;
                    margin-left: 10px;
                }
            }
        }
    }

    #service-corporate {
        .name {
            span {
                &:nth-child(2) {
                    position: absolute;
                    right: -160%;
                    top: 50%;
                }
            }
        }
    }

    #service-shop {
        .name {
            span {
                &:nth-child(2) {
                    position: absolute;
                    right: -160%;
                    top: 50%;
                }
            }
        }
    }

    #service-individualSolutions {
        .name {
            span {
                &:nth-child(2) {
                    position: absolute;
                    right: -175%;
                    top: 50%;
                }
            }
        }
    }

}

#about {
    background: url("../assets/img/tentacles-top_1.jpg") 0 0 no-repeat,
    url("../assets/img/tentacles-bottom_1.jpg") 100% 100% no-repeat,
    #2d2d2d;
    background-size: contain;
    text-align: center;
    color: white;
    padding: 100px 0 175px 0;

    .about-heading {
        max-width: 1000px;

        .heading-heading {
            position: relative;
            width: 80%;
            margin: auto;

            .gold-line {
                position: absolute;
                height: 15px;
                width: 56%;
                background-color: $gold;
                right: 0;
                top: 50%;
            }

            h2 {
                position: relative;
                margin: 40px 0;
                z-index: 2;
            }
        }

        .heading-description {
            font-family: "Gilroy SemiBold", sans-serif;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    .about-slider {
        display: flex;
        width: 80%;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;

        .slider-item {
            max-width: 325px;
            margin-bottom: 50px;

            img {
                margin: 80px 0;
            }

            .slider-description {
                font-family: "Gilroy Black", sans-serif;
                font-size: 25px;
            }
        }
    }
}

#advantages {
    padding-top: 80px;
    background: url("../assets/img/lines.png") no-repeat 0 0;
    margin: 120px 0;

    .advantages-heading {
        text-align: center;
        margin-bottom: 60px;
    }

    .advantage-heading {
        font-family: "Gilroy Light", sans-serif;
        font-size: 45px;
        margin-bottom: 20px;
    }

    .advantage-description {
        font-family: "Gilroy SemiBold", sans-serif;
        font-size: 20px;
        color: #797979;
    }

    .slick-initialized {

        .slick-slide {
            display: flex;
            outline: none;

            .image-wrap {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    display: inline-block;
                    max-width: 100%;
                }
            }

        }
    }

    .dots {
        width: 200px;
        transform: rotate(30deg) translate(30%, 0%);
        display: flex;
        justify-content: space-between;
        height: 30px;

        .dot {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: #dddddd;
            transition: background-color 0.2s linear;

            &-2, &-3 {
                align-self: flex-end;
            }

            &.current {
                background-color: $main-pink;
            }
        }
    }

    .sliderControls {
        margin: 50px 0 0 auto;
    }

}

#reviews {
    margin: 150px 0 50px 0;

    .reviews-heading {
        text-align: center;
        margin-bottom: 50px;
    }

    .review {
        position: relative;

        .review-link {
            font-family: "Gilroy Medium", sans-serif;
            font-size: 18px;
            color: #999999;
            text-decoration: underline;
            transition: color 0.3s;

            &:hover {
                color: $main-pink;
            }
        }
    }

    .text-review {
        width: 100%;

        .wrapper {
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            border-color: white;
        }

        .text-review-heading {
            font-family: "Gilroy", sans-serif;
            font-size: 30px;
            font-weight: 900;
            margin-top: auto;
        }

        .text-review-description {
            font-family: "Gilroy", sans-serif;
            font-size: 18px;
            font-style: italic;
            margin: auto 0;
        }

        .text-review-footer {
            display: flex;
            align-items: center;
            margin-bottom: 15px;


            .review-video {
                margin: 0 15px;

                a {
                    content: url("../assets/img/video-icon.png");
                    vertical-align: middle;
                }
            }

            .review-icon {
                margin-left: auto;

                a {
                    content: url("../assets/img/lion-icon.png");
                    vertical-align: middle;
                }
            }

        }
    }

    #reviewsSlider {

        .slick-track {
            margin: 0 -15px;
            display: flex;

            .slick-slide {
                margin: 0 15px;
                display: flex;
                height: auto;
            }
        }

        .review > .wrapper, .review > img {
            border-width: 30px;
            border-radius: 30px;
            border-style: solid;
            width: 100%;
            height: auto;
        }

        .dark-review, .light-review {
            .review-link {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 45px;
                text-align: center;
            }
        }

        .dark-review {
            img {
                width: 100%;
                border-color: #5a656e;
            }
        }

        .light-review {
            img {
                width: 100%;
                border-color: #97a3ac;
            }
        }
    }

    .review-footer {
        margin: 100px 0;
        position: relative;
        display: flex;
        justify-content: center;

        .buttons {
            display: block;
            width: 100%;
            margin: auto;
            text-align: center;
        }

        .sliderControls {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }
    }

    /* Mobile sliders */
    .mobile-only {
        #textReviewsSlider {
            .review {
                .wrapper {
                    padding: 15px;
                    border-radius: 10px;

                    .text-review-heading {
                        margin-bottom: 35px;
                    }

                    .text-review-footer {
                        margin: 30px 0;

                        .review-video {
                            margin-left: auto;
                        }
                    }
                }
            }
        }

        .dark-review, .light-review {
            img {
                border-width: 15px;
                border-radius: 15px;
                border-style: solid;
            }

            .review-link {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 20px;
                text-align: center;
            }
        }

        .dark-review {
            img {
                width: 100%;
                border-color: #5a656e;
            }
        }

        .light-review {
            img {
                width: 100%;
                border-color: #97a3ac;
            }
        }

        .sliderControls {
            display: block;
            width: 100%;
            text-align: center;
            margin: 20px 0;
        }
    }
}

#feedback {
    background: url("../assets/img/tentacles-top_2.jpg") 0 0 no-repeat,
    url("../assets/img/tentacles-bottom_2.jpg") 100% 100% no-repeat,
    #2d2d2d;
    background-size: contain;
    padding: 130px 0;
    color: white!important;
    text-align: center;

    .feedback-heading {

        .heading-heading {
            position: relative;
        }

        h2 {
            position: relative;
        }

        .gold-line {
            position: absolute;
            height: 15px;
            width: 56%;
            background-color: $gold;
            left: -16%;
            top: 50%;
        }

        .heading-subheading {
            font-family: "Gilroy Light", sans-serif;
            font-size: 35px;
            margin: 50px 0;
        }
    }

    .form-control, .nselect__head {
        color: white;
    }

}

#clients {

    .clients-heading {
        padding: 60px 0;
    }

    .clients-services {
        .clients-service {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &.animated {
                z-index: -1;
            }

            img {
                width: auto;
                margin: auto;
                margin-bottom: 40px;
                border-radius: 23px;
            }

            &-2 {
                flex-direction: column-reverse;
                background: url("../assets/img/client-service-background.png") no-repeat center bottom;

                img {
                    margin-bottom: 0;
                    margin-top: 40px;
                }
            }

            &-3 {
                background: url("../assets/img/client-service-background.png") no-repeat center top;
            }

            .service-description {
                color: #242424;

                .description-heading {
                    font-family: "Gilroy Light", sans-serif;
                    font-size: 45px;
                }

                .description-subheading {
                    font-family: "Gilroy Medium", sans-serif;
                    font-size: 22px;
                }

                .description-price {
                    font-family: "Gilroy Medium", sans-serif;
                    font-size: 18px;

                    span {
                        font-family: "Bebas Neue", sans-serif;
                        font-size: 90px;
                        font-weight: 900;
                        color: $main-pink;
                    }
                }
            }
        }
    }
}

@import "media";
