@import "common";

/* Main page */

#first-screen {
    height: 100vh;
    background-image: url("../assets/img/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    & > .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    .best-solutions {
        width: 100%;
        position: relative;

        .pink-line, .white-line {
            height: 25px;
            position: absolute;
        }

        .pink-line {
            background-color: $main-pink;
            right: 0;
            top: 20%;
            width: 62%;
        }

        .title {
            position: relative;
            font-family: "Gilroy Black", sans-serif;
            color: white;
            font-size: 13rem;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            line-height: 95%;
            width: 100%;
            font-weight: 900;

            .best, .solutions {
                opacity: 0.3;
            }

            .best {
                align-self: flex-start;
            }

            .solutions {
                align-self: flex-end;
            }

            .best-copy, .solutions-copy {
                position: absolute;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px white;
            }

            .best-copy {
                top: -10px;
                left: -10px;
            }

            .solutions-copy {
                bottom: 10px;
                right: 10px;
            }
        }

        .white-line {
            background-color: #e1e1e1;
            left: 0;
            bottom: 25%;
            width: 66%;
        }
    }

    .bottom-plank {
        color: white;
        margin: 10vh 0;

        .text {
            font-family: "Gilroy Black", sans-serif;
            font-size: 45px;
            font-weight: 900;
            font-style: italic;
            max-width: 60%;
        }
    }
}

#services {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;

    .service {
        margin: 45px 15px;
        width: 100%;
        max-width: calc(50% - 15px);
        position: relative;
        transition: transform 0.3s linear;

        &:hover {
            transform: scale(1.05);
        }

        img {
            width: 100%;
        }

        &:nth-child(odd) {
            margin-left: 0;
        }

        &:nth-child(even) {
            margin-right: 0;
        }

        .black-bar {
            position: absolute;
            transform: translate(0, -50%);
            top: 50%;
            left: 70px;
            width: 255px;
            height: 600px;
            background-color: #1d1d1d;
            display: flex;
            align-items: center;

            .name {
                display: flex;
                margin-left: -10%;

                span {
                    font-family: "Gilroy Black", sans-serif;
                    font-weight: 900;
                    font-size: 90px;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1px white;
                }
            }

            .price {
                transform: rotate(-45deg);
                margin-top: 30px;

                .price-number {
                    font-family: "Bebas Neue Regular", sans-serif;
                    font-weight: 900;
                    font-size: 60px;
                    color: $main-pink;
                    float: left;
                    margin-right: 15px;
                }

                .price-text {
                    display: flex;
                    flex-direction: column;

                    .ot, .rub {
                        font-family: "Gilroy Medium", sans-serif;
                        font-size: 18px;
                        color: #696969;
                    }
                }
            }

            .buttons {
                transform: rotate(-45deg);
                display: flex;
                text-align: center;
                margin-top: 30px;

                .analyse a:hover, .details a:hover {
                    text-shadow: 0 0 3px;
                }

                .analyse {
                    font-family: "Gilroy Medium", sans-serif;
                    font-size: 20px;
                    color: #7e7e7e;
                    text-decoration: underline;
                    line-height: 1.3em;
                }

                .details {
                    font-family: "Gilroy", sans-serif;
                    font-weight: 600;
                    font-size: 22px;
                    color: $main-pink;
                    text-decoration: underline;
                }
            }
        }
    }

    #service-landing {
        .name {
            span {
                &:nth-child(2) {
                    position: relative;
                    right: unset;
                    left: unset;
                    margin-left: 10px;
                }
            }
        }
    }

    #service-corporate {
        .name {
            span {
                &:nth-child(2) {
                    position: absolute;
                    right: -160%;
                    top: 50%;
                }
            }
        }
    }

    #service-shop {
        .name {
            span {
                &:nth-child(2) {
                    position: absolute;
                    right: -160%;
                    top: 50%;
                }
            }
        }
    }

    #service-individualSolutions {
        .name {
            span {
                &:nth-child(2) {
                    position: absolute;
                    right: -175%;
                    top: 50%;
                }
            }
        }
    }

}

#advantages {
    padding-top: 80px;
    background: url("../assets/img/lines.png") no-repeat 0 0;
    margin: 120px 0;

    .advantages-heading {
        text-align: center;
        margin-bottom: 60px;
    }

    .advantage-heading {
        font-family: "Gilroy Light", sans-serif;
        font-size: 45px;
        margin-bottom: 20px;
    }

    .advantage-description {
        font-family: "Gilroy SemiBold", sans-serif;
        font-size: 20px;
        color: #797979;
    }

    .slick-initialized {

        .slick-slide {
            display: flex;
            outline: none;

            .image-wrap {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    display: inline-block;
                    max-width: 100%;
                }
            }

        }
    }

    .dots {
        width: 200px;
        transform: rotate(30deg) translate(30%, 0%);
        display: flex;
        justify-content: space-between;
        height: 30px;

        .dot {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: #dddddd;
            transition: background-color 0.2s linear;

            &-2, &-3 {
                align-self: flex-end;
            }

            &.current {
                background-color: $main-pink;
            }
        }
    }

    .sliderControls {
        margin: 50px 0 0 auto;
    }

}

#feedback {
    background: url("../assets/img/tentacles-top_2.jpg") 0 0 no-repeat,
    url("../assets/img/tentacles-bottom_2.jpg") 100% 100% no-repeat,
    #2d2d2d;
    background-size: contain;
    padding: 130px 0;
    color: white!important;
    text-align: center;

    .feedback-heading {

        .heading-heading {
            position: relative;
        }

        h2 {
            position: relative;
        }

        .gold-line {
            position: absolute;
            height: 15px;
            width: 56%;
            background-color: $gold;
            left: -16%;
            top: 50%;
        }

        .heading-subheading {
            font-family: "Gilroy Light", sans-serif;
            font-size: 35px;
            margin: 50px 0;
        }
    }

    .form-control {
        color: white;
    }

}

#clients {

    .clients-heading {
        padding: 60px 0;
    }

    .clients-services {
        .clients-service {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &.animated {
                z-index: -1;
            }

            img {
                width: auto;
                margin: auto;
                margin-bottom: 40px;
                border-radius: 23px;
            }

            &-2 {
                flex-direction: column-reverse;
                background: url("../assets/img/client-service-background.png") no-repeat center bottom;

                img {
                    margin-bottom: 0;
                    margin-top: 40px;
                }
            }

            &-3 {
                background: url("../assets/img/client-service-background.png") no-repeat center top;
            }

            .service-description {
                color: #242424;

                .description-heading {
                    font-family: "Gilroy Light", sans-serif;
                    font-size: 45px;
                }

                .description-subheading {
                    font-family: "Gilroy Medium", sans-serif;
                    font-size: 22px;
                }

                .description-price {
                    font-family: "Gilroy Medium", sans-serif;
                    font-size: 18px;

                    span {
                        font-family: "Bebas Neue", sans-serif;
                        font-size: 90px;
                        font-weight: 900;
                        color: $main-pink;
                    }
                }
            }
        }
    }
}

@import "media";

@media all and (max-width: 767px) {
    #first-screen {
        max-height: 100vh;
        max-height: calc(var(--vh, 1vh) * 100);
        padding: 0;

        & > .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
        }

        .best-solutions {
            .title {
                font-size: 3.5rem;

                .best-copy {
                    top: -5px;
                    left: -5px;
                }

                .solutions-copy {
                    bottom: 5px;
                    right: 5px;
                }
            }

            .pink-line, .white-line {
                height: 15px !important;
            }

            .pink-line {
                right: -15px;
                width: 58%;
            }

            .white-line {
                left: -15px;
                bottom: 25%;
                width: 48%;
            }
        }

        .bottom-plank {
            padding: 0;

            .text {
                font-size: 18px;
                margin: 30px auto;
            }

            button {
                display: block;
                margin: auto;
            }
        }
    }

    #services {
        flex-direction: column;
        margin: 10px 0;

        .service {
            margin: 1px 0;
            max-width: 100%;
            width: 100%;
            height: 100%;

            img {
                position: unset;
            }

            .black-bar {
                width: 100%;
                max-height: unset;
                height: auto;
                position: unset;
                display: block;
                transform: unset;
                padding: 20px;

                .name {
                    display: block;
                    width: 50%;
                    margin: 0;
                    line-height: 180%;

                    span {
                        position: relative !important;
                        right: unset !important;
                        left: unset !important;
                        top: unset !important;
                        bottom: unset !important;
                        margin: 0 !important;
                        font-size: 30px;
                    }
                }

                .price {
                    display: none;
                }

                .buttons {
                    transform: unset;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0;
                    padding: 10px 0;

                    .analyse {
                        margin-top: -10px;
                        font-size: 16px;
                        transform: rotate(-45deg) translate(-10%, -50%);
                        width: min-content;
                    }

                    .details {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    #advantages {
        margin: 30px 0;
    }

    #clients {
        .clients-heading {
            padding: 30px 0;
        }

        & > .container {
            padding: 0;
        }

        .clients-services {
            width: 100%;
            flex-direction: column;

            .clients-service-2 {
                flex-direction: column;
            }

            .clients-service {
                padding: 0;
                align-items: center;
                background: none;
                display: block;

                img {
                    width: 100%;
                    margin: 0;
                    border-radius: 0;
                }

                .service-description {
                    .description-heading {
                        font-size: 25px;
                        margin: 25px 0;
                    }

                    .description-subheading {
                        font-size: 18px;
                    }

                    .description-price {
                        display: none;
                    }

                    button {
                        margin: 40px 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    #first-screen {
        .best-solutions {
            .title {
                font-size: 8rem;
            }

            .pink-line, .white-line {
                height: 15px;
            }

            .pink-line {
                width: 45%;
            }

            .white-line {
                width: 39%;
            }
        }

        .bottom-plank {
            .text {
                font-size: 25px;
            }

            button {
                display: block;
            }
        }
    }

    #services {
        flex-direction: column;
        margin: 10px 0 50px 0;

        .service {
            margin: 1px 0;
            max-width: 100%;
            width: 100%;
            height: 100%;

            img {
                position: unset;
            }

            .black-bar {
                width: 100%;
                max-height: unset;
                height: auto;
                position: unset;
                display: block;
                transform: unset;
                padding: 20px;

                & > .w-100 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .name {
                        display: block;
                        width: 50%;
                        margin: 0;

                        span {
                            position: relative !important;
                            right: unset !important;
                            left: unset !important;
                            top: unset !important;
                            bottom: unset !important;
                            font-size: 50px;
                        }
                    }

                    .price {
                        max-width: 50%;
                        transform: none;
                        margin: 0;
                        justify-content: flex-end;
                    }

                    .buttons {
                        transform: unset;
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        margin: 0;
                        padding: 10px 0;

                        & > div {
                            margin: 0 10px;
                        }

                        .analyse {
                            font-size: 16px;
                        }

                        .details {
                            font-size: 18px;
                        }
                    }
                }


            }
        }
    }

    #clients {
        .clients-heading {
            padding: 40px 0;
        }

        .clients-services {
            flex-direction: column;

            .clients-service {
                flex-direction: row;
                justify-content: center;
                align-content: center;
                background: none;

                img {
                    width: 50%;
                    border-radius: unset;
                    margin: 0;
                }

                .service-description {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .description-heading {
                        font-size: 24px;
                    }

                    .description-subheading {
                        font-size: 18px;
                    }

                    .description-price {
                        font-size: 16px;

                        span {
                            font-size: 40px;
                        }
                    }
                }
            }

            .clients-service-2 {
                flex-direction: row-reverse;
            }
        }
    }
}

@media (max-width: 991px) {
    #advantages {
        margin: 0;
        background: none;
        padding-top: 0;

        .advantages-heading {
            margin-bottom: 10px;
        }

        #advantagesSlider {
            .advantage {
                .image-wrap {
                    img {
                        max-height: 200px;
                    }
                }

                .advantage-heading {
                    font-size: 25px;
                    text-align: center;
                }

                .advantage-description {
                    font-size: 16px;
                }
            }
        }

        .sliderControls {
            margin: 30px auto;
            text-align: center;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #first-screen {
        .best-solutions {
            .title {
                font-size: 10rem;
            }
        }

        .bottom-plank {
            .text {
                font-size: 38px;
            }
        }
    }

    #services {
        margin: 20px 0;

        .service {
            .black-bar {
                width: 40%;
                height: 120%;
                padding: 10px;

                & > .w-100 {
                    height: 90%;
                }

                .name {
                    display: block;

                    span {
                        position: relative !important;
                        right: unset !important;
                        left: unset !important;
                        top: unset !important;
                        bottom: unset !important;
                        font-size: 36px;
                    }
                }

                .price {
                    .price-number {
                        font-size: 40px;
                    }

                    .price-text {
                        span {
                            font-size: 16px;
                        }
                    }
                }

                .buttons {
                    .analyse {
                        font-size: 16px;
                    }

                    .details {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    #advantages {
        background: none;
        margin: 50px 0;

        .advantage-heading {
            font-size: 40px;
        }

        .advantage-description {
            font-size: 18px;
        }
    }

    #clients {
        .clients-heading {
            padding: 40px 0;
        }

        .clients-services {
            background: none;
            flex-direction: column;

            .clients-service {
                flex-direction: row;
                justify-content: center;
                align-content: center;

                img {
                    width: 50%;
                    border-radius: unset;
                    margin: 0;
                }

                .service-description {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .description-heading {
                        font-size: 24px;
                    }

                    .description-subheading {
                        font-size: 18px;
                    }

                    .description-price {
                        font-size: 16px;

                        span {
                            font-size: 40px;
                        }
                    }
                }
            }

            .clients-service-2 {
                flex-direction: row-reverse;
            }
        }
    }
}

@media (max-width: 1200px) {
    #advantages {
        #dots {
            display: none;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1560px) {
    #first-screen {
        .best-solutions {
            .title {
                font-size: 11rem;
            }
        }

        .bottom-plank {
            width: 80%;

            .text {
                font-size: 36px;
            }
        }
    }

    #first-screen .best-solutions .pink-line {
        top: 20%;
        width: 69%;
    }

    #first-screen .best-solutions .white-line {
        width: 69%;
        bottom: 25%;
    }

    #services {
        margin: 20px 0;

        .service {
            max-width: calc(50% - 20px);
            margin: 50px 20px;

            .black-bar {
                width: 25%;
                height: 120%;
                padding: 5px;

                & > .w-100 {
                    height: 90%;
                }

                .name {
                    margin-top: 75%;
                    margin-left: -15%;

                    span {
                        font-size: 60px;
                    }
                }

                .price {
                    .price-number {
                        font-size: 40px;
                    }

                    .price-text {
                        span {
                            font-size: 20px;
                        }
                    }
                }

                .buttons {
                    margin-top: 25%;

                    .analyse {
                        font-size: 18px;
                    }

                    .details {
                        font-size: 16px;
                    }
                }
            }
        }

        #service-landing {
            .name {
                span {
                    &:nth-child(2) {
                        position: relative;
                        right: unset;
                        left: unset;
                        margin-left: 10px;
                    }
                }
            }
        }

        #service-corporate {
            .name {
                span {
                    &:nth-child(2) {
                        right: -160%;
                        top: 50%;
                    }
                }
            }
        }

        #service-shop {
            .name {
                span {
                    &:nth-child(2) {
                        right: -160%;
                        top: 50%;
                    }
                }
            }
        }

        #service-individualSolutions {
            .name {
                span {
                    &:nth-child(2) {
                        right: -175%;
                        top: 50%;
                    }
                }
            }
        }

    }

    #advantages {
        background: url(../assets/img/lines.png) no-repeat 0 35%;
        background-size: 25%;
        margin: 50px 0;

        .advantage-heading {
            font-size: 40px;
        }

        .advantage-description {
            font-size: 18px;
        }

        #dots {
            width: 180px;
            transform: rotate(30deg) translate(10%, 0%);
        }
    }

    #clients .clients-services .clients-service {
        margin-bottom: 20px;
        background: none;

        img {
            width: 100%;
        }

        .service-description {
            .description-heading {
                font-size: 34px;
            }

            .description-subheading {
                font-size: 18px;
            }

            .description-price {
                font-size: 16px;

                span {
                    font-size: 36px;
                }
            }
        }
    }
}

@media (max-width: 1560px) {
    #first-screen {
        .bottom-plank {
            .text {
                max-width: 100%;
            }
        }
    }
}
