/* Media queries */

@media all and (max-width: 767px) {
    .mobile-only {
        display: inline-block;
    }

    .desktop-only {
        display: none !important;
    }

    button.btn {
        max-width: 235px;
        font-size: 17px;
    }

    h2 {
        font-size: 36px;
        font-weight: 400;
    }

    .modal {
        .modal-dialog {
            margin: auto;

            .modal-content {
                .modal-header {
                    &:before {
                        top: 15px;
                        left: 15px;
                        width: 20px;
                        height: 20px;
                        font-size: 16px;
                        line-height: 20px;
                    }

                    .modal-title {
                        width: 100%;
                        display: block;
                        margin: 30px auto !important;
                        text-align: center;
                        font-size: 20px;
                    }

                    .modal-description p {
                        font-size: 16px;
                        padding: 0;
                    }

                    .close {
                        position: absolute;
                        top: 5px;
                        right: 15px;
                    }
                }

                .modal-body {
                    form {
                        justify-content: flex-start;
                        align-items: flex-start;

                        .custom-control {
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }

    #quiz4 {
        overflow: scroll;
        padding: 70px 0;

        #quiz4Form {
            & > .row {
                flex-direction: column;
                max-width: 100%;
                width: 100%;
                margin: auto;

                .col {
                    padding: 0;
                    margin: 10px 0;
                }
            }
        }

        .modal-footer {
            justify-content: center;
            align-items: center;
            display: block;
            margin: auto;

            .promo {
                .gold-line {
                    top: 75%;
                    right: 0;
                }
            }

            button {
                margin: 20px auto;
            }
        }
    }

    .gold-line, .white-line, .pink-line {
        height: 7px !important;
    }

    header {
        .navbar-brand {
            max-width: 60%;

            img {
                width: 100%;
            }
        }

        .navbar-toggler {
            padding: 0;
            margin: 0;
            border: none;

            .navbar-toggler-icon {
                margin: 0;
                padding: 0;
                width: 40px;
            }
        }
    }

    #page-header {
        height: 250px;
        .page-title {
            font-size: 50px;
            top: 60%;
            .pink-line {
                top: 30px;
                height: 8px;
            }
            .outline {
                top: -5px;
                left: -5px;
            }
        }
    }

    #stillHere {
        padding: 150px 0 50px;
        background-size: auto;

        .feedback-heading {
            margin-bottom: 20px;
            .gold-line {
                height: 7px;
                left: -15px;
                width: 45%;
            }
        }
        .feedback-form {
            .row {
                flex-direction: column;
            }

            .col {
                padding: 0;
                margin: 15px 0;
            }

            button {
                margin: 40px 0;
            }
        }
    }

    #about {
        background-size: auto;
        padding: 50px 0 150px 0;

        .about-heading {
            .heading-heading {
                width: 100%;

                .gold-line {
                    height: 7px;
                    right: -15px;
                    width: 47%;
                }
            }

            .heading-description {
                font-size: 16px;
                margin-bottom: 50px;
            }
        }

        .about-slider {
            width: 100%;

            .slider-item {
                img {
                    margin: 0 auto;
                }

                .slider-description {
                    font-size: 18px;
                }
            }
        }
    }

    #reviews {
        margin: 50px 0;

        .row.mobile-only {
            display: flex;
        }

        .review-footer {
            margin: 0;

            button {
                margin: 15px 0;
            }
        }
    }

    .feedback-form {
        .select-wrap {
            display: block;
        }
    }

    #portfolio {
        .portfolio-heading {
            margin: 40px;

            .gold-line {
                right: -50%;
                width: 100%;
            }
        }

        .portfolio-works {
            .work {
                flex-direction: column;

                img {
                    width: 100%;
                    max-width: 100%;
                }

                .work-description-wrap {
                    .work-description {
                        width: 100%;
                        padding: 0 10px;
                        text-align: left;

                        .description-heading {
                            font-size: 25px;

                            span {
                                display: none;
                            }
                        }

                        .description-description {
                            font-size: 18px;
                            padding: 15px 0;
                        }

                        .description-footer {
                            flex-direction: column;
                            margin-bottom: 25px;

                            button {
                                margin: 20px auto;
                            }
                        }
                    }
                }
            }
        }

        .sliderControls {
            display: block;
            text-align: center;
        }
    }

    footer {
        .footer-links {
            display: block !important;
        }

        .footer-logo {
            a {
                img {
                    display: block;
                    margin: auto;
                    max-width: 70%;
                }
            }
        }

        .bottom-section {
            .privacy {
                width: 100%;
                color: #a3a5a5;
                text-decoration: underline;
                text-align: center;
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    header {
        .navbar {
            max-width: 100%;
        }

        .navbar-brand {
            max-width: 20%;
            margin: 0;

            img {
                max-height: 35px;
                width: auto;
            }
        }

        #navbarCollapse {
            justify-content: space-between;
            max-width: 80%;

            .pages {
                max-width: 50%;

                li > a, li > span {
                    padding: 0 5px;
                    font-size: 14px;
                }
            }

            .icons {
                max-width: 20%;

                li {
                    max-width: 50%;
                    padding: 0;
                    margin: 0 5px;

                    i {
                        font-size: 16px;
                    }
                }
            }

            button {
                max-width: 25%;
                width: 100%;
                font-size: 16px;
                padding: 5px;
                margin: 0 !important;
            }
        }
    }

    #page-header {
        height: 270px;
        .page-title {
            font-size: 72px;
            .pink-line {
                top: 40px;
                height: 15px;
            }
        }
    }

    h2 {
        font-size: 50px;
    }

    #about {
        padding: 50px 0 100px 0;

        .about-slider {
            flex-direction: row;
            flex-wrap: wrap;

            .slider-item {
                max-width: 50%;
            }
        }
    }

    #portfolio {
        .portfolio-heading {
            margin: 40px;
        }

        .portfolio-works {
            .work {
                flex-direction: column;

                img {
                    width: 100%;
                    max-width: 100%;
                }

                .work-description-wrap {
                    .work-description {
                        width: 100%;
                        padding: 0 10px;
                        text-align: center;

                        .description-heading {
                            font-size: 32px;

                        }

                        .description-description {
                            font-size: 20px;
                            padding: 15px 0;
                        }

                        .description-footer {
                            flex-direction: column;
                            margin-bottom: 25px;

                            button {
                                margin: 20px auto;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        font-size: 19px;


        .footer-links {
            justify-content: space-around;

            ul {
                font-size: 14px;
            }
        }

        .bottom-section {
            font-size: 12px;
        }
    }
}

@media (max-width: 991px) {
    button.btn {
        padding: 10px;
        max-height: 60px;
        font-size: 16px;
    }

    #feedback {
        background-size: auto;

        .feedback-heading {
            .gold-line {
                height: 7px;
                left: -15px;
                width: 45%;
            }

            .heading-subheading {
                font-size: 25px;
                margin: 40px 0;
            }
        }

        .feedback-form {
            .row {
                flex-direction: column;
            }

            .col {
                padding: 0;
                margin: 15px 0;
            }

            button {
                margin: 40px 0;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    header {
        .navbar-brand {
            img {
                width: 100%;
            }

        }

        .collapse {
            .pages {
                margin: 0;
                width: auto;
            }
        }
    }

    #page-header {
        height: 300px;
        .page-title {
            font-size: 80px;
            .pink-line {
                top: 45px;
                height: 15px;
            }
        }
    }

    #feedback {
        padding: 100px 0;
    }

    #portfolio {
        .portfolio-works {
            .work {
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;

                img {
                    max-width: 80%;
                }

                .work-description-wrap {
                    max-width: 80%;

                    .work-description {
                        width: 100%;

                        .description-heading {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    footer {
        font-size: 19px;

        .footer-links {
            justify-content: space-around;

            ul {
                font-size: 16px;
            }
        }

        .bottom-section {
            font-size: 16px;
        }
    }
}

@media (max-width: 1200px) {
    header .navbar-collapse .pages li > a, header .navbar-collapse .pages li > span {
        padding: 0 5px;
        font-size: 0.9rem;
    }

    button.btn {
        font-size: 20px;
        padding: 10px;
        max-width: 275px;
        max-height: 60px;
        width: 100%;
    }

    footer {
        background-size: auto;
        padding-top: 100px;

        .footer-links {
            display: flex;
            margin-top: 20px;
        }

        .footer-contacts {
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #424242;

            .icons {
                margin: 0;

                li {
                    margin: 0 15px;
                }
            }

            .phones {
                margin: 0;
            }
        }

        .bottom-section {
            margin-top: 0;
            padding: 15px;

            & > div {
                margin-bottom: 15px;
            }
        }
    }
}

@media (min-width: 1201px) and (max-width: 1560px) {

    h2 {
        font-size: 62px;
    }

    button.btn {
        font-size: 20px;
        padding: 10px;
        max-width: 270px;
        max-height: 65px;
    }

    header {
        .navbar-brand {
            img {
                max-width: 150px;
            }
        }

        .navbar-collapse {
            .pages {
                width: auto;
                font-size: 0.9rem;
            }

            .icons {
                .nav-item {
                    a {
                        vertical-align: middle;

                        img {
                            max-width: 21px;
                        }
                    }
                }
            }

            button.btn {
                font-size: 16px;
                padding: 12px;
                max-width: 240px;
                max-height: 65px;
            }
        }
    }

    #page-header {
        height: 350px;
        .page-title {
            font-size: 100px;
            .pink-line {
                top: 60px;
            }
        }
    }

    #about {
        .about-heading {
            .heading-heading {
                .gold-line {
                    height: 7px;
                }
            }

            .heading-description {
                font-size: 20px;
            }
        }

        .about-slider {
            width: 100%;

            .slider-item {
                margin-bottom: 30px;

                img {
                    margin: 60px 0;
                    max-height: 100px;
                }

                .slider-description {
                    font-size: 20px;
                }
            }
        }
    }

    #feedback {
        padding: 80px 0;

        .feedback-heading {
            .gold-line {
                height: 10px;
            }
        }
    }

    #portfolio {
        .portfolio-works {
            .work {
                .description-heading {
                    font-size: 35px;
                }

                .description-description {
                    font-size: 17px;
                }

                .description-footer {
                    button.btn {
                        font-size: 18px;
                        padding: 8px;
                        max-width: 250px;
                    }

                    .site-link {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    #portfolio .portfolio-works .work .work-description-wrap .work-description {
        width: 80%;
    }

    #portfolio .portfolio-heading {
        margin: 80px 0;
    }

    .modal .modal-dialog .modal-content .modal-header .modal-title {
        max-width: 85%;
        text-align: center;
    }

    footer {
        font-size: 18px;

        .footer-links {
            ul {
                font-size: 14px;
            }
        }

        .bottom-section {
            font-size: 14px;
        }
    }

}

@media (max-width: 1560px) {

}
