@import "common";

#page-header {
    background: url("../assets/img/page-header-reviews.jpg") 0 0 no-repeat;

    .page-title {
        .pink-line {
            position: absolute;
            height: 25px;
            width: 38.5%;
            top: 65px;
            right: 0;
            background-color: $main-pink;
        }
    }
}

#reviews-cards {
    .tabs {
        margin: 50px 0;
        button.btn {
            width: 100%;
            max-width: 100%;
        }
    }

    .cards {
        .card {
            padding: 0;
            border: 24px solid #97a3ac;
            border-radius: 40px;
            position: relative;

            .content-wrap {
                margin: auto;
                padding: 30px 0;
                img {
                    margin: auto;
                }

                .review-link {
                    display: block;
                    margin-top: 30px;
                    font-family: "Gilroy Medium", sans-serif;
                    font-size: 18px;
                    color: #999999;
                    text-decoration: underline;
                    transition: color 0.3s;

                    &:hover {
                        color: $main-pink;
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        margin: 50px 0;

        .row {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            margin: 0;

            .sliderControls {
                position: absolute;
                right: 0;
                top: 50%;
            }
        }
    }
}

#video-reviews {
    .review {
        border-radius: 40px;
        overflow: hidden;
        padding: 0;

        .video {
            position: relative;
            width: 100%;
            cursor: pointer;
            img {
                width: 100%;
            }
            .play-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 10%;
                transform: translate(-50%,-50%);
            }
        }

        .review-description {
            background-color: white;
            padding: 40px 130px;

            .title {
                font-family: "Gilroy", sans-serif;
                font-weight: 900;
                font-size: 30px;
            }
            .body {
                font-family: "Gilroy", sans-serif;
                font-style: italic;
                font-size: 18px;
                padding: 30px 0;
            }

            .footer {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                .review-link {
                    font-family: "Gilroy Medium", sans-serif;
                    font-size: 18px;
                    color: #999999;
                    text-decoration: underline;
                    transition: color 0.3s;

                    &:hover {
                        color: $main-pink;
                    }
                }

                .review-video {
                    margin: 0 15px;

                    a {
                        content: url("../assets/img/video-icon.png");
                        vertical-align: middle;
                    }
                }

                .review-icon {
                    margin-left: auto;

                    a {
                        content: url("../assets/img/lion-icon.png");
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

#light-reviews {
    margin-bottom: 100px;

    .review {
        position: relative;
        border: 27px solid #97a3ac;
        border-radius: 40px;
        width: 100%;
        padding: 0;

        img {
            width: 100%;
        }
        .review-link {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 45px;
            text-align: center;
            font-family: "Gilroy Medium", sans-serif;
            font-size: 18px;
            color: #999999;
            text-decoration: underline;
            transition: color 0.3s;

            &:hover {
                color: $main-pink;
            }
        }
    }
}

#video-reviews, #light-reviews {
    .footer > button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 60px auto;
        padding: 15px 0;

        .text {
            margin-left: auto;
        }

        .line {
            height: 35px;
            max-height: 100%;
            width: 1px;
            background: #f67496;
            margin: auto;
        }

        .arrow {
            font-size: 24px;
            margin-right: auto;
        }
    }
}

@import "media";

@media (max-width: 767px) {
    #reviews-cards .cards .card, #light-reviews .review {
        border-width: 10px;
        border-radius: 10px;
    }

    #reviews-cards {
        margin-bottom: 50px;
        .cards .card {
            .content-wrap {
                padding: 15px;
                img {
                    width: 100%;
                }
                .review-link {
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
        }
        .tabs {
            margin: 50px -15px;
            justify-content: center;
            button.btn {
                margin: 10px 0;
            }
            .mobile-only {
                width: 100%;
                .tab {
                    font-family: "Gilroy", sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color: black;
                    padding: 10px;
                    background-color: white;
                    transition: 0.35s all;
                    &.active {
                        background-color: $main-pink;
                        color: white;
                    }
                }
            }
        }
        .footer {
            margin: 0 0 30px 0;
            .row {
                flex-direction: column-reverse;
                .sliderControls {
                    position: relative;
                    text-align: center;
                    margin: 20px 0;
                }
            }
        }
    }

    #video-reviews {
        margin-bottom: 50px;
        .review {
            border-radius: 20px;
            .review-description {
                padding: 10px;
                .title {
                    font-size: 20px;
                }
                .body {
                    padding: 10px 0;
                    font-size: 14px;
                }
                .footer {
                    .review-link {
                        font-size: 16px;
                    }
                    &>button {
                        max-width: 330px;
                    }
                }
            }
        }
        .footer button {
            font-size: 16px;
            margin: 20px auto 0 auto;
        }
    }

    #light-reviews {
        .footer {
            #lightReviewsControls {
                margin: 30px 0;
            }
            button {
                margin: 0 auto;
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    #reviews-cards {
        .tabs {
            justify-content: center;
            button.btn {
                margin: 10px 0;
            }
        }
    }

    #video-reviews .review .review-description {
        padding: 20px 30px;
        .title {
            font-size: 26px;
        }
        .body {
            padding: 15px 0;
            font-size: 16px;
        }
        .footer {
            .review-link {
                font-size: 16px;
            }
            .review-icon a {
                max-width: 40px;
            }
            &>button {
                max-width: 330px;
            }
        }
    }

    #reviews-cards .cards .card, #light-reviews .review {
        border-width: 18px;
        border-radius: 18px;
    }

    #light-reviews {
        margin-bottom: 40px;
        .review {
            .review-link {
                bottom: 15px;
                font-size: 16px;
            }
        }
        .footer {
            #lightReviewsControls {
                width: 100%;
                margin: 30px 0;
                text-align: center;
            }
            button {
                margin: 25px 0;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #reviews-cards .cards .card, #light-reviews .review {
        border-width: 20px;
        border-radius: 20px;
    }

    #light-reviews {
        margin-bottom: 50px;
        .review {
            .review-link {
                bottom: 20px;
                font-size: 16px;
            }
        }
    }

    #video-reviews .review .review-description {
        padding: 40px;
        .body {
            font-size: 16px;
            padding: 20px 0;
        }
        .footer .review-link {
            font-size: 16px;
        }
    }
}

@media (min-width: 992px) {
    #video-reviews, #light-reviews {
        .footer > button {
            max-width: 330px;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1560px) {
    #reviews-cards .cards .card .content-wrap {
        padding: 20px 0;
        max-width: 80%;
        img {
            width: 100%;
        }
        .review-link {
            margin-top: 20px;
        }
    }

    #video-reviews .review .review-description {
        padding: 30px 80px;
    }
}

@media (min-width: 1201px) {
    #video-reviews, #light-reviews {
        .footer > button {
            max-width: 400px;
        }
    }
}
