@import "common";

#page-header {
    background: url("../assets/img/page-header-team.jpg") 0 0 no-repeat;

    .page-title {
        .pink-line {
            position: absolute;
            height: 25px;
            width: 33.5%;
            top: 65px;
            right: 0;
            background-color: $main-pink;
        }
    }
}

#portfolio .portfolio-heading .gold-line {
    width: 61.5%;
    right: -10%;
}

@import "media";

@media (max-width: 767px) {
    #page-header {
        height: 300px;
        .page-title {
            top: 45%;
        }
    }

    #about {
        .slider-item {
            width: 100%;
            margin: auto;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #team {
        #teamSlider {
            justify-content: space-around;
        }
    }
}
