@import "common";

#page-header {
    background: url("../assets/img/page-header-team.jpg") 0 0 no-repeat;

    .page-title {
        .pink-line {
            position: absolute;
            height: 25px;
            width: 33.5%;
            top: 65px;
            right: 0;
            background-color: $main-pink;
        }
    }
}

#team {
    margin: 10px 0;

    .team-heading {
        text-align: center;
        margin: 50px 0;
    }

    #teamSlider {
        .member {
            margin-bottom: 35px;

            .member-card {
                padding: 0;
                border-radius: 40px;
                overflow: hidden;
                background-color: white;

                .image {
                    width: 100%;
                    margin-bottom: 15px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .description {
                    padding: 0 40px;

                    .title {
                        position: relative;
                        text-align: center;
                        margin: 15px 0;
                        padding: 0 10px;
                        .gold-line {
                            position: absolute;
                            top: 35%;
                            width: 50%;
                            height: 13px;
                            background-color: #efd9b3;
                        }
                        h3 {
                            position: relative;
                            font-family: "Gilroy Light", sans-serif;
                            font-size: 45px;
                            color: #1b1b1b;
                        }
                    }

                    .skills {
                        list-style: none;
                        margin: 35px 0;

                        li {
                            font-family: "Gilroy Medium", sans-serif;
                            margin: 10px 0;
                            font-size: 22px;
                            &:before {
                                content: "\2022";
                                color: $main-pink;
                                font-weight: bold;
                                display: inline-block;
                                width: 1em;
                                margin-left: -1em;
                                text-shadow: 0 0 20px;
                            }

                            &.inactive:before {
                                color: #3e3e3e;
                            }
                        }
                    }

                    .footer {
                        margin-bottom: 35px;
                        a {
                            font-family: "Gilroy", sans-serif;
                            font-size: 22px;
                            font-weight: 900;
                            color: $main-pink;
                            text-decoration: underline;
                        }
                    }
                }
            }

            &:nth-child(even) {
                .member-card .description .title .gold-line {
                    top: unset;
                    bottom: 10%;
                    right: 0;
                }
            }
        }
    }
}

#portfolio .portfolio-heading .gold-line {
    width: 61.5%;
    right: -10%;
}

@import "media";

@media (max-width: 767px) {
    #page-header {
        height: 300px;
        .page-title {
            top: 45%;
        }
    }
    #team #teamSlider .member .member-card .description .title h3 {
        font-size: 25px;
    }
}

@media (max-width: 991px) {
    #team {
        #teamSlider {
            justify-content: center;
            .member .member-card {
                .description {
                    padding: 0 20px;

                    .skills {
                        margin: 15px 0;
                        padding-left: 20px;
                        li {
                            font-size: 16px;
                            margin: 5px 0;
                        }
                    }

                    .footer {
                        text-align: left;
                        margin-bottom: 25px;
                        padding-left: 10px;
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        #teamControls {
            width: 100%;
            text-align: center;
        }
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    #team #teamSlider .member .member-card .description .title h3 {
        font-size: 32px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #team {
        #teamSlider {
            justify-content: space-around;
        }
    }
}

@media (min-width: 992px) and (max-width: 1560px) {
    #team {
        #teamSlider {
            .member {
                margin-bottom: 35px;

                .member-card {
                    .description {
                        padding: 0 30px;
                        .title {
                            .gold-line {
                                top: 35%;
                                width: 50%;
                                height: 10px;
                            }
                            h3 {
                                font-size: 35px;
                            }
                        }

                        .skills {
                            margin: 25px 0;
                            padding-left: 30px;
                            li {
                                font-size: 18px;
                                &:before {
                                    content: "\2022";
                                    color: $main-pink;
                                    font-weight: bold;
                                    display: inline-block;
                                    width: 1em;
                                    margin-left: -1em;
                                    text-shadow: 0 0 20px;
                                }
                            }
                        }

                        .footer {
                            a {
                                font-size: 18px;
                            }
                        }
                    }
                }

                &:nth-child(even) {
                    .member-card .description .title .gold-line {
                        top: unset;
                        bottom: 10%;
                        right: 0;
                    }
                }
            }
        }
    }
}
