@font-face {
    font-family:'Bebas Neue Book';
    src: url('Bebas Neue Book.eot');
	src: url('Bebas Neue Book.eot?#iefix') format('embedded-opentype'),
		url('Bebas Neue Book.woff2') format('woff2'),
		url('Bebas Neue Book.woff') format('woff'),
		url('Bebas Neue Book.svg#Bebas Neue Book') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Bebas Neue Light';
    src: url('Bebas Neue Light.eot');
    src: url('Bebas Neue Light.eot?#iefix') format('embedded-opentype'),
        url('Bebas Neue Light.woff2') format('woff2'),
        url('Bebas Neue Light.woff') format('woff'),
        url('Bebas Neue Light.svg#Bebas Neue Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Bebas Neue Regular';
    src: url('Bebas Neue Regular.eot');
    src: url('Bebas Neue Regular.eot?#iefix') format('embedded-opentype'),
        url('Bebas Neue Regular.woff2') format('woff2'),
        url('Bebas Neue Regular.woff') format('woff'),
        url('Bebas Neue Regular.svg#Bebas Neue Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Bebas Neue Thin';
    src: url('Bebas Neue Thin.eot');
    src: url('Bebas Neue Thin.eot?#iefix') format('embedded-opentype'),
        url('Bebas Neue Thin.woff2') format('woff2'),
        url('Bebas Neue Thin.woff') format('woff'),
        url('Bebas Neue Thin.svg#Bebas Neue Thin') format('svg');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Bebas Neue Bold';
    src: url('Bebas Neue Bold.eot');
    src: url('Bebas Neue Bold.eot?#iefix') format('embedded-opentype'),
        url('Bebas Neue Bold.woff2') format('woff2'),
        url('Bebas Neue Bold.woff') format('woff'),
        url('Bebas Neue Bold.svg#Bebas Neue Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}